a {
  text-decoration: none;
}

/* login form */

input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input:focus {
  outline: 0 transparent solid;
}
input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-form {
  min-height: 10rem;
  margin: auto;
  padding: 0.5rem;
}

.login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}
.login-text .fa-stack-1x {
  color: black;
}

.login-username,
.login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
}
.login-username:focus,
.login-password:focus {
  background: white;
  color: black;
  transition: 250ms background ease-in;
}

.login-forgot-pass {
  bottom: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}
.login-forgot-pass:hover {
  opacity: 1;
}

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: 0.25rem;
  transition: 250ms background ease-in;
}
.login-submit:hover,
.login-submit:focus {
  background: white;
  color: black;
  transition: 250ms background ease-in;
}

[class*="underlay"] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.underlay-photo {
  animation: hue-rotate 6s infinite;
  background: url("./dark.jpg");
  background-size: cover;
  z-index: -1;
}

.underlay-black {
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.alert {
  width: 60%;
  margin-top: 100px;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

@media screen and (min-width: 480px) {
  .login-form {
    max-width: 50%;
  }
}

/* nav header */
.nav-header {
  border-bottom: solid thin rgba(255, 255, 255, 0.5);
}

/* arrow size */
.arrow-size {
  font-size: 1.4rem;
}

.round-size {
  font-size: 0.5rem;
  padding: 2px 3.5px;
}

.num-size {
  font-weight: bold;
  padding-left: 11px;
}

.mm {
  color: #ff4500;
}

.like-btn {
  background-color: #343a40;
  border: none;
  color: white;
}

.like-btn:hover {
  color: wheat;
}

.like-btn:focus {
  border: none;
  outline: none;
}

.create-post-button {
  color: rgb(240, 230, 230) !important;
}

.create-post-button:hover {
  color: white !important;
}

/* comment form */
.commment-layout {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.commment-layout:focus {
  border-color: white !important;
}

.pad {
  padding-bottom: 55px;
}

/* comment item*/
.user-profile {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}

.text {
  font-size: 1.1rem;
  word-break: break-word;
}

.like-comment-btn {
  background-color: black;
  border: none;
  color: white;
  font-size: 0.9rem;
}

.like-comment-btn:hover {
  color: wheat;
}

.like-comment-btn:focus {
  border: none;
  outline: none;
}

.comment-num {
  font-weight: bold;
  padding-left: 6px;
  padding-right: 13px;
}

/* community card */
.community-card {
  background-color: black !important;
  border-color: rgba(255, 255, 255, 0.6) !important;
  clear: right;
}

.community-img {
  vertical-align: top;
}

.leave-hover:after {
  content: "Joined";
}

.leave-hover:hover:after {
  content: "Leave";
}

.icon {
  font-family: "Font Awesome 5 Free"; /*←ココ！！！！！！！*/
  font-weight: 900;
  font-size: medium;
}

/* post header */
.post-info {
  font-size: large;
}

/* Profile */
.profile-navs {
  border-color: rgba(255, 255, 255, 0.5) !important;
}

.profile-date {
  color: rgba(255, 255, 255, 0.7);
}

.profile-name {
  font-size: 1.1rem;
}

.nav-item {
  color: white;
  font-weight: 500;
  margin: 0 7px;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.7);
}

.profile-comment-post-title {
  font-size: small;
  color: rgba(255, 255, 255, 0.7);
}

.profile-title {
  font-size: 1rem;
}

div.dropdown-menu {
  background-color: #545b62;
  min-width: 3rem;
}

a.dropdown-item {
  color: white;
}

a.dropdown-item:hover {
  background-color: #5b636d;
  color: white;
}

.user-edit-menu {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}

.user-edit-menu:focus {
  box-shadow: none !important;
}

.user-edit-menu.dropdown-toggle::after {
  content: none !important;
}

/* no search results */
.sad-icon {
  font-size: 65px;
}

/* Communities */
.community-title {
  background-color: #343a40;
  border: solid thin rgba(255, 255, 255, 0.5);
}

.community-subtitle {
  letter-spacing: -0.5px;
}

.search-community-bar {
  width: 25%;
}

@media screen and (max-width: 480px) {
  .search-community-bar {
    min-width: 50%;
  }
}

/* community */

.community-header {
  background-color: #343a40;
  overflow: hidden;
}

.community-header-img {
  background-color: #2c2c2c !important;
}

/* community autocomplete*/
.react-autosuggest__suggestions-list {
  list-style: none;
  padding-left: 5px;
  margin-bottom: 0;
}

.suggestion-input {
  text-decoration-color: white !important;
}

input.form-group {
  margin-bottom: 0;
}

.react-autosuggest__suggestions-container--open {
  width: 182px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #343a40;
  border: solid thin rgba(255, 255, 255, 0.5);
}

/* Posts navs */
.home-popular-nav {
  padding: 12px 0;
  background-color: #343a40;
  border-radius: 5px;
}

.home-popular-nav a {
  font-size: 15px;
  color: rgb(165, 165, 165);
}

.home-popular-nav .active {
  color: white;
  background-color: #464d53;
}

.home-popular-nav .nav-link {
  border-radius: 10px;
}

.home-popular-nav .nav-link:hover {
  color: white;
  background-color: #464d53;
  border-radius: 10px;
}

.new-hot-nav {
  padding: 10px 0;
}

.new-hot-nav a {
  font-size: 13px;
  color: rgb(165, 165, 165);
  margin-bottom: 0;
}

.new-hot-nav a.nav-link.active {
  color: white;
  border-bottom: 2px solid white;
}

.new-hot-nav .nav-link:hover {
  color: white;
  border-bottom: 2px solid white;
}

/* post card edit delete button*/
.post-edit-delete-button {
  font-size: 0.75rem !important;
}

/* community lanking page */
.community-lank {
  color: white !important;
  background-color: #262a2e !important;
}

.community-lank a {
  text-decoration: none !important;
  color: white !important;
}
